@media only screen and (max-width: 80rem) {

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: auto;
        width: calc(100vw - 3.75rem);
        height: 3.375rem;
    }

    .nav_list{
        position: absolute;
        display: none;
    }

    .burger_btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .burger_icon{
        height: 1.5rem;
        width: 1.5rem;
        color: var(--text);
    }
}

@media only screen and (min-width: 80rem) {

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: auto;
        width: calc(100vw - 6.25rem);
        height: 6.25rem;
    }

    .nav_list{
        width: 37.9375rem;
        position:initial;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    .nav_link{
        text-decoration: none;
        color: var(--text);
        font-family: var(--font-family-work_sans);
        font-weight: 600;
    }

    .nav_btn{
        height: 3.75rem;
        width: 9.5rem;
        border-radius: 1.25rem;
        border: none;
        background-color: var(--call-to-action);
        margin-right: 1rem;
        cursor: pointer;
        text-decoration: none;
        transition: ease-in-out 0.2s;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }

    .nav_btn:hover{
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    .nav_btn_link{
        color: var(--text);
        font-family: var(--font-family-work_sans);
        font-size: var(--font-size-m);
        font-weight: 600;
        text-decoration: none;
    }

    .person_img{
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.5rem;
        margin-bottom:-0.2rem;
    }
    

    .logo_img{
        width: 15.1875rem;
        height: 2rem;
    }

    .burger_btn{
        display: none;
    }
}

