@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /* Colors */
    --background: hsl(0, 0%, 17%);
    --background---secondary: hsl(0, 0%, 23%);
    --black: hsl(0, 0%, 0%);
    --call-to-action: hsl(266, 100%, 67%);
    --caption--label-text: hsl(60, 0%, 52%);
    --celeste: hsl(0, 0%, 80%);
    --jade: hsl(148, 100%, 34%);
    --masala: hsla(0, 0%, 23%, 0.502);
    --text: hsl(0, 0%, 100%);
    --white: hsla(0, 0%, 100%, 0.102);
    /* Font Sizes */
    --font-size-s: 12px;
    --font-size-m: 16px;
    --font-size-l: 22px;
    --font-size-xl: 28px;
    --font-size-xxl: 38px;
    --font-size-xxxl: 51px;
    --font-size-xxxxl: 67px;
    /* Font Families */
    --font-family-space_mono: "Space Mono", Helvetica;
    --font-family-work_sans: "Work Sans", Helvetica;
}

